<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="visaUrl" value="https://sandbox.api.visa.com/" />
    <add key="cert" value="C:\Visa\p12certfile.p12" />
    <add key="password" value="MCBnAkM1jhpVKCdQ49BHBB9oNyCLQ6F" />
    <add key="certPassword" value="" />
    <add key="userId" value="9ZT81TFIPF5J2580SPGF21gh6KriAi_K8UPEkJzQxvLhVgT30" />
    <add key="sharedSecret" value="IMl4XFvq9FS3blV7RzVRJ9$Q2CHQI+CJk+wAb0Dc" />
    <add key="apiKey" value="ZGQ1JEYHCCKRBXGCGLSV21DuE2XbdGZWLQuc0Qf2Bqa8-WUjM" />
    <add key="vctcTestPan" value="{put your pan number from test data under consumer rules api -> register a card here}" />
    <add key="tnsPartnerBid" value="{put your visa notification service partner bid here}" />
    <add key="tnsCardNumbers" value='{put your visa travel notification service card account numbers here}' />
    <add key="mlcIssuerId" value="{put your enrollments api issuer id here}" />
    <add key="mlcDeviceId" value="{put your enrollments api device id here}" />
    <add key="mlcClientMessageID" value="{put your enrollments api client message id here}" />
    <add key="mlcPrimaryAccountNumber" value="{put your enrollments api primary account number here}" />
    <add key="mlcMessageId" value="{put your locations api message id here}" />
    <add key="checkoutCallId" value="{put your visa checkout callId here}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
